:root{
    font-family: 'Spartan', sans-serif;
    --clr-primary: #613EFF;
    --clr-primary-light: #A38FFE;
    --clr-secondary: #3882FF;
    --clr-secondary-light: #8BB6FE;
    --clr-neutral-purple: #ebe6ff;
    --clr-body-dark: #120c2ed6;
    --clr-light-pink: #CC87FE;
}

body{
    background-color: var(--neutral-purple);
    padding-top: 50px;
}

nav{
    background-color: var(--clr-primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 600;
    color: var(--clr-neutral-purple);
}

nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    padding-right: 2rem;
}

a{
    text-decoration: none;
}
a:visited{
    color: var(--clr-neutral-purple);
}
a:hover{
    color: var(--clr-secondary-light);
}
a:active{
    color: var(--clr-secondary);
}

.about{
    color:var(--clr-body-dark);
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
}
h1{
    font-family: 'Actor', sans-serif;
    font-size: 4rem;
    font-weight: 600;
}
h2{
    font-family: 'Actor', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.about h1{
    text-decoration: underline wavy var(--clr-primary);
    text-decoration-thickness: 8px;
    text-underline-offset: 10px;
}
.about img{
    border-radius: 50%;
    max-width: 100%;
}
.left{
    width: 50%;
}

h1.projects{
    text-align: center;
    background-color: var(--clr-light-pink);
    color: var(--clr-body-dark);
    padding: 1rem;
    margin: 40px 200px;
    border: 3px solid;
    box-shadow: 6px 4px 8px;
    border-radius: 10px;
}


@media(min-width: 1200px) {
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}

article{
    padding: 1rem;
}
article.spy.proj5{
    background-color: var(--clr-primary);
    color: var(--clr-neutral-purple);
}
article.proj2{
    background-color: var(--clr-secondary-light);
    color: var(--clr-body-dark);
}
article.proj3{
    background-color: var(--clr-primary-light);
    color: var(--clr-body-dark);
}
article.proj4{
    background-color: var(--clr-light-pink);
    color: var(--clr-body-dark);
}

section.spy_problem{
    margin:0rem 6rem;
}
section.spy_source{
    margin:0rem 6rem;
}
section.spy_process{
    margin:0rem 6rem;
}
section a:visited{
    color: var(--clr-primary);
}

